__pycache__/*
*.pyc

later_features/*
prereq/*
.modtool/*
syms_file_format/*
notes/*
wiki/*
dist/*
build/*
projects/*
5-25-24 Rewrite/*
c_modding_tool/*

Old Code Injection Toolchain.zip
Rewrite Backups.zip
mod_utility.exe.spec
c_modding_tool.zip
old_readme.md
mod_utilityy.exe.spec
