__pycache__/*

later_features/*
prereq/*
.modtool/*
syms_file_format/*
notes/*
dist/*
build/*
projects/*
*.pyc

Old Code Injection Toolchain.zip
Rewrite Backups.zip
classes/__pycache__/mod_builder.cpython-312.pyc
classes/exteneded_base_classes/__pycache__/file_path.cpython-312.pyc
classes/injection_targets/__pycache__/binary_patch.cpython-312.pyc
classes/injection_targets/__pycache__/code_cave.cpython-312.pyc
classes/injection_targets/__pycache__/hook.cpython-312.pyc
classes/injection_targets/__pycache__/injection_target.cpython-312.pyc
classes/injection_targets/__pycache__/multipatch_asm.cpython-312.pyc
classes/project_data/__pycache__/build_version.cpython-312.pyc
classes/project_data/__pycache__/project_data.cpython-312.pyc
dpg/__pycache__/listbox_rc_math.cpython-312.pyc
dpg/__pycache__/special_variables.cpython-312.pyc
dpg/__pycache__/widget_themes.cpython-312.pyc
functions/__pycache__/alignment_validator.cpython-312.pyc
functions/__pycache__/check_pyinstaller.cpython-312.pyc
functions/__pycache__/file_utils.cpython-312.pyc
functions/__pycache__/helper_funcs.cpython-312.pyc
functions/__pycache__/PE.cpython-312.pyc
functions/__pycache__/print_wrapper.cpython-312.pyc
functions/__pycache__/ui_utils.cpython-312.pyc
functions/__pycache__/validators.cpython-312.pyc
functions/__pycache__/verbose_print.cpython-312.pyc
gui/__pycache__/gui_asm_injection.cpython-312.pyc
gui/__pycache__/gui_assembly_viewer.cpython-312.pyc
gui/__pycache__/gui_binary_patch_injection.cpython-312.pyc
gui/__pycache__/gui_build.cpython-312.pyc
gui/__pycache__/gui_c_injection.cpython-312.pyc
gui/__pycache__/gui_codecave_finder.cpython-312.pyc
gui/__pycache__/gui_emulator_tools.cpython-312.pyc
gui/__pycache__/gui_game_files.cpython-312.pyc
gui/__pycache__/gui_gdb_debugger.cpython-312.pyc
gui/__pycache__/gui_hex_differ.cpython-312.pyc
gui/__pycache__/gui_hotkeys.cpython-312.pyc
gui/__pycache__/gui_loading_indicator.cpython-312.pyc
gui/__pycache__/gui_main_project_callbacks.cpython-312.pyc
gui/__pycache__/gui_main_project.cpython-312.pyc
gui/__pycache__/gui_memory_watch.cpython-312.pyc
gui/__pycache__/gui_project_wizard.cpython-312.pyc
gui/__pycache__/gui_startup_window.cpython-312.pyc
gui/__pycache__/gui_string_editor.cpython-312.pyc
gui/__pycache__/gui_text_editors_script.cpython-312.pyc
gui/__pycache__/gui_text_editors.cpython-312.pyc
gui/__pycache__/gui_themes.cpython-312.pyc
services/__pycache__/auto_save_manager.cpython-312.pyc
services/__pycache__/cheat_code_service.cpython-312.pyc
services/__pycache__/compilation_service.cpython-312.pyc
services/__pycache__/duckstation_service.cpython-312.pyc
services/__pycache__/emulator_connection_manager.cpython-312.pyc
services/__pycache__/emulator_pid_utils.cpython-312.pyc
services/__pycache__/emulator_service.cpython-312.pyc
services/__pycache__/game_boxart_service.cpython-312.pyc
services/__pycache__/game_metadata_service.cpython-312.pyc
services/__pycache__/gdb_service.cpython-312.pyc
services/__pycache__/ghidra_pattern_service.cpython-312.pyc
services/__pycache__/iso_service.cpython-312.pyc
services/__pycache__/memory_utils.cpython-312.pyc
services/__pycache__/memory_watch_service.cpython-312.pyc
services/__pycache__/path_utils.cpython-312.pyc
services/__pycache__/pattern_service.cpython-312.pyc
services/__pycache__/pcsx2_service.cpython-312.pyc
services/__pycache__/pid_cache_service.cpython-312.pyc
services/__pycache__/pid_service.cpython-312.pyc
services/__pycache__/project_dashboard_service.cpython-312.pyc
services/__pycache__/project_serializer.cpython-312.pyc
services/__pycache__/project_validator.cpython-312.pyc
services/__pycache__/recent_projects_service.cpython-312.pyc
services/__pycache__/section_parser_service.cpython-312.pyc
services/__pycache__/size_analyzer_service.cpython-312.pyc
services/__pycache__/symbol_map_parser_service.cpython-312.pyc
services/__pycache__/template_service.cpython-312.pyc
services/__pycache__/visual_patcher_service.cpython-312.pyc
theme_editor/__pycache__/EditThemePlugin.cpython-312.pyc
tk/__pycache__/tk_file_picker.cpython-312.pyc
