__pycache__/*
*.pyc

later_features/*
prereq/*
.modtool/*
syms_file_format/*
notes/*
dist/*
build/*
projects/*
5-25-24 Rewrite/*

Old Code Injection Toolchain.zip
Rewrite Backups.zip
mod_utility.exe.spec
